@import url("https://fonts.googleapi.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(cloud.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

section .box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(cloud.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

section .box:nth-child(1) {
	filter: blur(10px);
}

section .box:nth-child(2) {
	clip-path: circle(150px at center);
}
